@media screen and (max-width: 1024px) {
    .widget-stepper{
        // top: 7vh !important;
        .widget-stepper-wrapper{
            max-width: 85vw;
            margin-top: 7vh !important;
            margin-bottom: 5vh !important;
            .title-wrapper{
                padding: 5vh 0 !important;
                .step-name{
                    white-space: nowrap;
                    font-size: 1.5vw;
                }
            }
            .typeWrapper{
                padding: 3vh 2vw !important;
            }
            .button{
                margin: 2vh 0 !important;

                button{
                    padding: 8px 24px !important;
                }
            }
        }
    }
    .book-appointment{
        width: 95vw !important;
        .title-wrapper{
            padding: 4vh 2vw !important;
            .tittle{
                h2{
                    font-size: 1.7vw !important;

                }
            }
        }
        .type-appointment{
            padding: 3vh 2vw !important;
            .appointment-date{
                width: 60vw !important;
                justify-content: space-evenly;
                padding: 2vh 0;
                .calendar{
                    .zabuto-calendar{
                        width: 25vw !important;
                        height: 40vh !important;
                    }
                }
            }
            .time-of-appointment{
                .time-wrapper{
                    width: 25vw !important;
                }
            }
            
        }
        .book-appointment-btn{
            .no-btn{
                padding: 0 2vw !important;
            }
        }
        
    }
  }
  @media screen and (max-width: 768px) {
    .typeWrapper{
        padding: 3vh 8vw !important;
        .col-img{
            img{
                width: 15vw;
    
            }
        }
        .col-name{
            width: 50vw;
            padding-left: 1vw !important;
            span{
                font-size: 2vw;
                white-space: nowrap;
            }
        }
    }
    
    
  }
  @media screen and (max-width: 425px) {
    article {

    }
  }
  @media screen and (max-width: 375px) {
    article {

    }
  }
  @media screen and (max-width: 320px) {
    article {

    }
  }